@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root {
  --blueColor: #0de9df;
  --whiteColor: #fff;
  --blackColor: #000;
  --grayColor: #858585;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
}
.module-8__item {
  margin-top: 10px;
  text-align: center;
}
.module-8__item-title {
  font-size: 3.4rem;
  font-weight: 550;
  letter-spacing: 4px;
  color: var(--blackColor);
  margin: 40px 0 0;
}
.module-8__item-description {
  color: var(--grayColor);
  font-size: 1.8rem;
  font-weight: 500;
}
.module-8__item-heading {
  text-align: center;
  font-size: 1.6rem;
}
.module-8__item-desc {
  color: var(--grayColor);
  font-size: 1.8rem;
  text-align: center;
  padding: 10px;
}
